.button {
  background-color: #6fcf97;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 0;
  font-size: 18px;
}

.button:hover {
  opacity: 0.8;
}