@page "~/categorias/{skip?}/{take?}"
@model RazorOverview.Pages.CategoriesModel
@{
    ViewData["Title"] = "Categorias";
}

<div>
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in @Model.Categories)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Price.ToString("C", new CultureInfo("pt-BR"))</td>
                </tr>
            }
        </tbody>
    </table>
</div>
