@page "~/home"
@model RazorOverview.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "Shared/_Layout";
}

@{
    ViewData["Title"] = "Sejam bem vindos!";
}

<h1>Home</h1>
